root: true
env:
  es6: true
  node: true
  mocha: true
parser: babel-eslint
extends:
  - eslint:recommended
  - plugin:node/recommended
  - plugin:flowtype/recommended
plugins:
  - node
  - flowtype
parserOptions:
  sourceType: module
  ecmaVersion: 2017
rules:
  linebreak-style: [error, unix]
  no-console: 0
  require-yield: off
  node/exports-style: [error, module.exports]
